@font-face {
  font-family: "Wii Sans";
  src: url("https://db.onlinewebfonts.com/t/005acc3dbc79c9ae0eaa0f4f9887473f.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/005acc3dbc79c9ae0eaa0f4f9887473f.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/005acc3dbc79c9ae0eaa0f4f9887473f.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
